._einapage{
  display: flex;
}
._einapage__container{
  display: inline-table;
  list-style: none;
  padding-left: 0;
}
@media(min-width: 576px){
  ._einapage__container{
    margin-left: auto;
    text-align: right;
  }
}
._einapage__details{
  margin-right: 5px;
}
@media(min-width: 992px){
  ._einapage__details{
    display: inline-flex;
  }
}
@media(max-width: 991px){
  ._einapage__details{
    display: block;
    margin-bottom: 10px;
  }
}
._einapage__per-page{
  display: inline-flex;
}
._einapage__item{
  display: inline-flex;
}
._einapage__data{
  color: #484848;
}
._einapage__per-page select{
  border-radius: 8px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  color: #484848;
  border-bottom: 1px solid #B8B8B8;
  border-top: 1px solid #B8B8B8;
  border-right: 1px solid #B8B8B8;
}
._einapage__per-page select option:checked,
._einapage__per-page select option[selected="selected"]{
  background-color: #484848;
  color: #ffffff;
}
._einapage__item a{
  text-decoration: none;
  color: #484848;
  border-bottom: 1px solid #B8B8B8;
  border-top: 1px solid #B8B8B8;
  border-right: 1px solid #B8B8B8;
  padding: 7px 12px;
}
._einapage__item._einapage__first a{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 1px solid #B8B8B8;
}
._einapage__item:last-child a{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
._einapage__item.active a{
  color: #ffffff;
  background-color: #484848;
}
